
.slideshow {
    list-style-type: none;
  }
  
  .slideshow,
  .slideshow:after { 
      top: 75px; 
      width: 100%;
      height: 100%;
      left: 0px;
      z-index: -1; 
  }
  
  .slideshow li span { 
      position: absolute;
      width: 100%;
      height: 100%;
      top: 75px;
      left: 0px;
      color: transparent;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      opacity: 0;
      z-index: -1;
      animation: imageAnimation 30s linear infinite 0s; 
  }
  
  
  
  .slideshow li:nth-child(1) span { 
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwtLHx96Da5VFLsauztgsxbZMr9VPieL5_XA&usqp=CAU"); 
  }
  .slideshow li:nth-child(2) span { 
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7AyV7jnehi7RyMjaUkI0C7YsJTI_8hcbXiQ&usqp=CAU");
      animation-delay: 6s; 
  }
  .slideshow li:nth-child(3) span { 
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLsy2BUvHovBC4_rlA330af2eE2XyMfH5G0A&usqp=CAU");
      animation-delay: 12s; 
  }
  .slideshow li:nth-child(4) span { 
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ567t_YnbuycoZ_z0LHrj6SkpHzHrW_uGWxQ&usqp=CAU");   
      animation-delay: 18s; 
  }
  .slideshow li:nth-child(5) span { 
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLvunxwOWKF28o9yFpYfmaRja26yRyxyueIw&usqp=CAU");
      animation-delay: 24s; 
  }
  
  
  
  @keyframes imageAnimation { 
      0% { opacity: 0; animation-timing-function: ease-in; }
      8% { opacity: 1; animation-timing-function: ease-out; }
      17% { opacity: 1 }
      25% { opacity: 0 }
      100% { opacity: 0 }
  }
  
  
  @keyframes titleAnimation { 
      0% { opacity: 0 }
      8% { opacity: 1 }
      17% { opacity: 1 }
      19% { opacity: 0 }
      100% { opacity: 0 }
  }
  
  
  .no-cssanimations .cb-slideshow li span {
      opacity: 1;
  }