
.slideshow {
    list-style-type: none;
  }
  
  .slideshow,
  .slideshow:after { 
      top: 75px; 
      width: 100%;
      height: 100%;
      left: 0px;
      z-index: -1; 
  }
  
  .slideshow li span { 
      position: absolute;
      width: 100%;
      height: 100%;
      top: -29px;
      left: 0px;
      color: transparent;
      background-size: cover;
      background-repeat: no-repeat;
      object-position:top;
      opacity: 0;
      z-index: -1;
      animation: imageAnimation 30s linear infinite 0s; 
  }
  
  
  
  .slideshow li:nth-child(1) span { 
      background-image: url("https://i.blogs.es/2cb303/fondos-dinamicos1/1366_2000.jpg"); 
  }
  .slideshow li:nth-child(2) span { 
      background-image: url("https://okdiario.com/img/2019/07/03/cosas-graciosas-de-perros.jpg");
      animation-delay: 6s; 
  }
  .slideshow li:nth-child(3) span { 
      background-image: url("https://images.unsplash.com/photo-1653408400816-af6dba0c9432?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDEzfGJvOGpRS1RhRTBZfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500");
      animation-delay: 12s; 
  }
  .slideshow li:nth-child(4) span { 
      background-image: url("https://images.unsplash.com/photo-1590598016917-7a2bf7d1d5e7?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDYxfGJvOGpRS1RhRTBZfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500");   
      animation-delay: 18s; 
  }
  .slideshow li:nth-child(5) span { 
      background-image: url("https://images.unsplash.com/photo-1534422646206-3cf5a7d4a1b1?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDk1fGJvOGpRS1RhRTBZfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500");
      animation-delay: 24s; 
  }
  
  
  
  @keyframes imageAnimation { 
      0% { opacity: 0; animation-timing-function: ease-in; }
      8% { opacity: 1; animation-timing-function: ease-out; }
      17% { opacity: 1 }
      25% { opacity: 0 }
      100% { opacity: 0 }
  }
  
  
  @keyframes titleAnimation { 
      0% { opacity: 0 }
      8% { opacity: 1 }
      17% { opacity: 1 }
      19% { opacity: 0 }
      100% { opacity: 0 }
  }
  
  
  .no-cssanimations .cb-slideshow li span {
      opacity: 1;
  }